{% extends 'layout.html' %}

{% block title %} Diagnóstico Organizacional {% endblock%}

{% block content %}

<div id="identified">
    <h1>Diagnóstico de los 8 Pilares Estructurales</h1>
</div>

<br>
<h4>N° Proceso: {{id_proceso}}</h4>

<form action="{% url 'dashboard' %}" method="GET">
    <div id="">
        <input type="hidden" name="id_proceso" value="{{id_proceso}}"/>
    <!--    <table border="1" align="center" bordercolor="blue" cellspacing="0" height="150px">  -->
        <table>
            <caption><h2>Evaluación Pilar N° 8 – TECNOLOGÍA</h2></caption>
            <thead>
                <tr>
                    <th>N°</th><th>Pregunta</th><th>Evaluación</th>
                </tr>
            </thead>
            <tr>
                <td>8.1</td>
                <td>¿La actual tecnología con que cuenta la Municipalidad ha mejorado los niveles de eficiencia y productividad?</td>
                <td>
                    <select name="eva8.1">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>8.2</td>
                <td>¿La prestación de servicio al usuario se ha visto mejorado con la actual tecnología utilizada por el Municipio?</td>
                <td>
                    <select name="eva8.2">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>8.3</td>
                <td>¿La tecnología vigente en el Municipio ha mejorado los niveles de automatización de los servicios?</td>
                <td>
                    <select name="eva8.3">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>8.4</td>
                <td>¿La actual tecnología del Municipio ha disminuido significativamente los tiempos de respuesta hacia la comunidad y proveedores?</td>
                <td>
                    <select name="eva8.4">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>8.5</td>
                <td>¿La tecnología actual del Municipio ha elevado los niveles del trabajo colaborativo entre sus departamentos y unidades</td>
                <td>
                    <select name="eva8.5">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>8.6</td>
                <td>¿La tecnología vigente ha mejorado los niveles de competitividad con otros Municipios?</td>
                <td>
                    <select name="eva8.6">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>8.7</td>
                <td>¿La actual tecnología ha permitido entregar un valor agregado al usuario? </td>
                <td>
                    <select name="eva8.7">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>8.8</td>
                <td>¿Con la actual tecnología que existe en el Municipio se lograría una mejor experiencia del usuario?</td>
                <td>
                    <select name="eva8.8">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>8.9</td>
                <td>¿Existe suficiente integración de la tecnología con los funcionarios Municipales para su desempeño superior?</td>
                <td>
                    <select name="eva8.9">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>8.10</td>
                <td>¿Hay disposición de parte de la Alta Dirección para incorporar nuevas tecnologías en la Municipalidad?</td>
                <td>
                    <select name="eva8.10">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="2">3</option>
                    </select>
                </td>
            </tr>

        </table>

    </div>

    <div class="content_text_1">
        <p>Presiona el "Continuar" para grabar y pasar a la próxima evaluación.</p>
    </div>

    <div>
        <input type="submit" name="continuar" value=" Continuar " />
    </div>
</form>

{% endblock%}